<div class="max-w-6xl sm:pt-28 mt-12 md:pt-32 md:pl-28 p-5">
    <div class="flex flex-col md:flex-row items-center">
        <img
            src="/src/asset/food/bigFood1.png"
            alt=""
            class="md:h-80 h-60 sm:h-72 flex-none mb-5" />
        <div>
            <p class="font-semibold italic text-4xl">the title of food</p>
            <p class="pl-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut
                magnam omnis nulla iure maiores suscipit, voluptatem quo
                aspernatur dolores aut nobis ratione molestiae, doloremque dicta
                saepe asperiores. Ducimus magni architecto iusto itaque! Libero
                ipsa voluptas, aspernatur delectus quisquam repellat, et
                corporis culpa, cupiditate iusto nostrum asperiores dolore sunt
                esse consectetur itaque error placeat debitis voluptate. Est
                soluta enim obcaecati minus rerum consequatur vitae odio
                eligendi sit! Nobis iusto autem sit?
            </p>
        </div>
    </div>

    <div class="mt-5 w-full flex">
        <a
            href="/src/views/paymentPage.html"
            class="ml-auto bg-blue-500 hover:bg-blue-700 py-2 px-5 text-white shadow-lg rounded-md transition-colors duration-300">
            Buy This
        </a>
    </div>
</div>
