<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Lorisv Restaurant</title>
        <link rel="stylesheet" href="/src/css/main.css" />
    </head>
    <body class="flex flex-col h-screen">
        <nav class="flex-none">
            <div class="flex max-w-7xl mx-auto sm:my-5 items-center">
                <div>
                    <img src="" alt="logo" class="h-6 sm:h-7 inline" />
                    <span>Lorisv</span>
                </div>
                <div class="flex justify-center items-center flex-1 gap-5">
                    <a href="">About</a>
                    <a href="/src/views/listFood.html ">List Food</a>
                    <div>
                        <a href="">Chef</a>
                        <div class="bg-orange-600 h-0.5 w-full"></div>
                    </div>
                </div>
            </div>
        </nav>

        <main class="flex-auto">
            <div class="max-w-7xl mx-auto">
                <!-- <div
                    class="flex flex-col sm:justify-start sm:flex-row my-10 transition-all">
                    <img
                        src="/src/asset/chef/chef1.png"
                        alt=""
                        class="w-52 h-72 mx-auto sm:ml-10 sm:mr-5" />
                    <div class="max-w-2xl p-5">
                        <div class="text-xl text-orange-800 md:text-2xl px-10">
                            I don't know his name
                        </div>
                        <p class="px-5">
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Eius itaque maxime nihil architecto modi
                            pariatur esse reiciendis impedit labore nam odio
                            consequatur, similique ab ad. Autem a commodi in,
                            facilis numquam animi sunt harum cumque consectetur
                            officiis quo porro cupiditate, molestiae fugiat
                            tempore cum? Blanditiis impedit facilis soluta
                            veniam eligendi! Dolore, fugit assumenda quo minus
                            tempora praesentium? Assumenda minima quo hic eos
                            nulla non optio veritatis perspiciatis? Optio minus
                            error consequuntur soluta, provident totam sequi
                            enim nostrum aliquid quo voluptatibus repudiandae
                            suscipit cum reprehenderit distinctio? Eum eveniet
                            ipsam cumque, soluta consectetur ratione sed, illo
                            quasi assumenda aliquid eaque explicabo recusandae.
                        </p>
                        <button
                            class="bg-orange-500 hover:bg-orange-700 text-white px-4 py-2 rounded-md shadow-lg transition-colors m-5 ml-10">
                            See More About Him
                        </button>
                    </div>
                </div>

                <div
                    class="flex flex-col-reverse sm:justify-end sm:flex-row my-10">
                    <div class="max-w-2xl p-5 flex flex-col">
                        <div
                            class="text-xl text-orange-800 md:text-2xl px-10 text-center md:text-end">
                            I don't know his name too
                        </div>
                        <p class="px-5">
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Eius itaque maxime nihil architecto modi
                            pariatur esse reiciendis impedit labore nam odio
                            consequatur, similique ab ad. Autem a commodi in,
                            facilis numquam animi sunt harum cumque consectetur
                            officiis quo porro cupiditate, molestiae fugiat
                            tempore cum? Blanditiis impedit facilis soluta
                            veniam eligendi! Dolore, fugit assumenda quo minus
                            tempora praesentium? Assumenda minima quo hic eos
                            nulla non optio veritatis perspiciatis? Optio minus
                            error consequuntur soluta, provident totam sequi
                            enim nostrum aliquid quo voluptatibus repudiandae
                            suscipit cum reprehenderit distinctio? Eum eveniet
                            ipsam cumque, soluta consectetur ratione sed, illo
                            quasi assumenda aliquid eaque explicabo recusandae.
                        </p>
                        <button
                            class="bg-orange-500 hover:bg-orange-700 text-white px-4 py-2 rounded-md shadow-lg transition-colors m-5 ml-10 md:ml-auto">
                            See More About Him
                        </button>
                    </div>
                    <img
                        src="/src/asset/chef/chef2.png"
                        alt=""
                        class="w-52 h-72 mx-auto sm:ml-5 sm:mr-10" />
                </div> -->
                <div class="chefPage-container-for-grid">
                    <div class="chefPage-chef1">
                        <div class="chefPage-chef1-Image">
                            <img
                                src="/src/asset/chef/chef1.png"
                                alt=""
                                class="w-52 h-72 mx-auto sm:ml-10 sm:mr-5" />
                        </div>
                        <div class="chefPage-chef1-Name">
                            <h1>i dont know his name</h1>
                        </div>
                        <div class="chefPage-chef1-Information"></div>
                        <div class="chefPage-chef1-description">
                            <p class="px-5">
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Eius itaque maxime nihil
                                architecto modi pariatur esse reiciendis impedit
                                labore nam odio consequatur, similique ab ad.
                                Autem a commodi in, facilis numquam animi sunt
                                harum cumque consectetur officiis quo porro
                                cupiditate, molestiae fugiat tempore cum?
                                Blanditiis impedit facilis soluta veniam
                                eligendi! Dolore, fugit assumenda quo minus
                                tempora praesentium? Assumenda minima quo hic
                                eos nulla non optio veritatis perspiciatis?
                                Optio minus error consequuntur soluta, provident
                                totam sequi enim nostrum aliquid quo
                                voluptatibus repudiandae suscipit cum
                                reprehenderit distinctio? Eum eveniet ipsam
                                cumque, soluta consectetur ratione sed, illo
                                quasi assumenda aliquid eaque explicabo
                                recusandae.
                            </p>
                        </div>
                    </div>
                    <div class="chefPage-chef2">
                        <div class="chefPage-chef2-Image">
                            <img
                                src="/src/asset/chef/chef2.png"
                                alt=""
                                class="w-52 h-72 mx-auto sm:ml-5 sm:mr-10" />
                        </div>
                        <div class="chefPage-chef2-Name">
                            <h1>i dont know his name too</h1>
                        </div>
                        <div class="chefPage-chef2-information"></div>
                        <div class="chefPage-chef2-description">
                            <p class="px-5">
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Eius itaque maxime nihil
                                architecto modi pariatur esse reiciendis impedit
                                labore nam odio consequatur, similique ab ad.
                                Autem a commodi in, facilis numquam animi sunt
                                harum cumque consectetur officiis quo porro
                                cupiditate, molestiae fugiat tempore cum?
                                Blanditiis impedit facilis soluta veniam
                                eligendi! Dolore, fugit assumenda quo minus
                                tempora praesentium? Assumenda minima quo hic
                                eos nulla non optio veritatis perspiciatis?
                                Optio minus error consequuntur soluta, provident
                                totam sequi enim nostrum aliquid quo
                                voluptatibus repudiandae suscipit cum
                                reprehenderit distinctio? Eum eveniet ipsam
                                cumque, soluta consectetur ratione sed, illo
                                quasi assumenda aliquid eaque explicabo
                                recusandae.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="flex-none text-center bg-slate-900 p-4 text-white">
            Created By Ahmad Ridho Ramadhan
            <div class="flex justify-center flex-wrap">
                <a href="mailto:ahmadridhor02@gmail.com" class="p-1.5">
                    <img
                        src="/src/asset/icon/email1.png"
                        class="m-1.5 h-6 sm:h-7"
                        alt="email" />
                </a>

                <a href="https://wa.me/62882020539449" class="p-1.5">
                    <img
                        src="/src/asset/icon/whatsapp1.png"
                        class="m-1.5 h-6 sm:h-7"
                        alt="whatsapp" />
                </a>
                <a href="" class="p-1.5">
                    <img
                        src="/src/asset/icon/instagram1.png"
                        class="m-1.5 h-6 sm:h-7"
                        alt="instagram" />
                </a>
                <a href="" class="p-1.5">
                    <img
                        src="/src/asset/icon/github1.png"
                        class="m-1.5 h-6 sm:h-7"
                        alt="github" />
                </a>
                <a href="" class="p-1.5">
                    <img
                        src="/src/asset/icon/twitter1.png"
                        class="m-1.5 h-6 sm:h-7"
                        alt="twitter" />
                </a>
            </div>
        </footer>
    </body>
</html>
